@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-Black.woff2') format('woff2'),
        url('DarkerGrotesque-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-ExtraBold.woff2') format('woff2'),
        url('DarkerGrotesque-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-Medium.woff2') format('woff2'),
        url('DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-Bold.woff2') format('woff2'),
        url('DarkerGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-Light.woff2') format('woff2'),
        url('DarkerGrotesque-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-Regular.woff2') format('woff2'),
        url('DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

